<script>
  import {lineRadial} from "d3-shape"
  import {scaleLinear, scaleRadial } from "d3-scale";
  import {curveCatmullRomOpen} from "d3-shape";

  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  let radius = 70

  export let data = []
  export let city

  // Scales
  let timeScale = scaleLinear()
    .domain([1,365])
    .range([0, 2 * Math.PI]);

  let radScale = scaleRadial()
    .domain([0,149400])
    .range([0,radius-5]);

  // Curves
  let heatingCurve = lineRadial()
  .angle(d => timeScale(d.day_of_year))
  .radius(d => radScale(d.heating))
  .curve(curveCatmullRomOpen)
  .defined(d => d.heating > 0)


  let coolingCurve = lineRadial()
  .angle(d => timeScale(d.day_of_year))
  .radius(d => radScale(d.cooling))
  .curve(curveCatmullRomOpen)
  .defined(d => d.cooling > 0)


  let heating
  let cooling
  $: heating = heatingCurve(data)
  $: cooling = coolingCurve(data)
</script>

     
    <circle r={radius} stroke="black" stroke-width=2 fill="white" />
    <text x=55 y=-200>{city}</text> 
    <path  d={cooling} fill="blue" stroke="blue" fill-opacity="0.3" stroke-width=2 style="opacity: 0.7;"></path>
    <path  d={heating} fill="red" stroke="red" fill-opacity="0.3" stroke-width=2 style="opacity: 0.7;"></path>

