<script>
  import { scaleLinear } from "d3-scale";
  import {  extent } from 'd3-array';
  export let data;
  export let scaling
  export let xScale
  export let yScale

  
  //Dimensions
  const width = 300;
  const height = 800;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom; 

  $:{ if(scaling == "Building") {yScale = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([19,0]);}}
</script>
  


  {#each data as datapoint , idx} 
    <line x1={xScale(idx)} x2={xScale(idx)} y1={yScale(0)} y2={yScale(datapoint.total_heating_energy)} />
  {/each}


<style>
    line {
        stroke: black;
        stroke-opacity: 0.9;
        stroke-width: 2px;
        } 
</style>