<script>
  export let location = "Baltimore";
  export let scaling = "Building";
</script>

<span>
  <div>
  <div>
    <label>
    <input type=radio name="location" bind:group={location} value={"Baltimore"}>
      Baltimore
    </label>
  </div>
  <div>
    <label>
    <input type=radio name="location" bind:group={location} value={"Chicago"}>
      Chicago
    </label>
  </div>
  <div>
    <label>
    <input type=radio name="location" bind:group={location} value={"Los Angeles"}>
      Los Angeles
    </label>
  </div>
  </div>
  </span>
  <span>
    <div>
    <div>
      <label>
      <input type=radio name="scaling" bind:group={scaling} value={"Building"}>
        Within building type
      </label>
    </div>
    <div>
      <label>
      <input type=radio name="scaling" bind:group={scaling} value={"Global"}>
        All building types
      </label>
    </div>
    
    </div>
    </span>
    