<script>

  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Controls from "./_design_1_buttons.svelte";
  import Lines from "./_design_1_line.svelte";
  import { scaleLinear } from "d3-scale";
  import { extent } from 'd3-array';
  
  const width = 500;
  const height = 550;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom; 
  const textWidth = 150;
  
  let location= "Baltimore"
  let scaling= "Building"  
    
  let data=[] 
  let buildings=[]

  onMount(async () => {
      data = await json("/data/hourly_heating_december.json");
      buildings = [... new Set (data.map(d => d.buildingtype))];
    });
    
  let xScale=scaleLinear().domain([0,744]).range([0,innerWidth-textWidth]);
  let yScale =[];

  
  let citydata = {}
  function FilterDataCity(data, city) {
   return data.filter(d => d.city == city)
  }

  function FilterDataBuilding(data, building) {
    return data.filter(d => d.buildingtype == building)
  }
  $:citydata = FilterDataCity(data, location)

  $:{if(scaling ==  "Building") {yScale = null;}
  else {yScale = scaleLinear().domain(extent(citydata.map((d) => d.total_heating_energy))).range([19,0]);}
} 

</script>

  <div>
     <p 
     transform="translate({(innerWidth/2)-230},{innerHeight-410})"
     style ='font: italic bold 30px/30px Georgia, serif'>
     Hourly Energy Use in December
     </p>
      <svg width={width} height={height}>
        {#if !data}
        <p> Thank you for choosing Renée's visualisation! We are loading the data, please wait</p>
        {:else}  
          {#each buildings as building, index}
            <g transform="translate({innerWidth - textWidth + 5},{index*innerHeight/16 + 20})">
              <text font-size=15>{building}</text>
            </g>
            <g transform="translate(0, {index*innerHeight/16})">
              <Lines data={FilterDataBuilding(citydata, building)} {scaling} {xScale} {yScale} /> 
            </g>
          {/each} 
        {/if} 
     </svg>
     <p 
     transform="translate({(innerWidth/3)-50},{innerHeight-3})"
     style ='font:Brush Script MT small-caps 10px/10px Georgia, serif'>
     Design 1: Energy use over multiple days
    </p>
  </div>
  <Controls bind:location={location} bind:scaling={scaling}  /> 

<style>
  svg {
      border: 1px solid black;
      border-radius: 5px;
    }
</style>


