<script>

  // Import Plot, Json and onMount
  import Plot from "./_design_3_leafplot.svelte";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  // Size and margins
  const width = 600;
  const height = 600;
  const margin = { top: 10, right: 30, bottom: 10, left: 30 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Specifying Data
  let data = null;
  let weeks = [48, 49, 50, 51, 52];
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

</script>

{#if !data}
  <p> Thank you for choosing Renée's visualisation! We are loading the data, please wait...</p>
{:else}

  <svg {width} {height}>

    <g transform="translate({margin.left}, {margin.top})">
      <line x1=290 y1=35 x2=294 y2=440 style="stroke:black; stroke-width:2"/>
      
      <g transform="translate(280,60) rotate(-30)">
        <Plot data={data.filter(d => d.week == 52)}/>
          <g transform="translate(100,50)">
            <text> Week 5 </text>
           </g>
      </g>  
    
      <g transform="translate(300,130) scale(-1,1) rotate(-30)">
        <Plot data={data.filter(d => d.week == 51)}/>
          <g transform="translate(280,40) scale(-1,1)">
            <text> Week 4 </text>
           </g>
      </g>
    
      <g transform="translate(280,220) rotate(-30)">
        <Plot data={data.filter(d => d.week == 50)}/>
          <g transform="translate(220,45)">
            <text> Week 3 </text>
           </g>
        </g>
   
      <g transform="translate(300,300) scale(-1,1) rotate(-30)">
        <Plot data={data.filter(d => d.week == 49)}/>
          <g transform="translate(300,50) scale(-1,1)">
            <text> Week 2 </text>
           </g>
      </g>
  
      <g transform="translate(280,380) rotate(-30)">
        <Plot data={data.filter(d => d.week == 48)}/>
          <g transform="translate(220,50)">
            <text> Week 1 </text>
           </g>
      </g>

      <g transform="translate({margin.left}, {margin.top})">
      <text x={(innerWidth/4)-160} y={innerHeight - 225} text-anchor='start' font-size="17" opacity="0.7" font-style='italic'>Electricity Wage</text>
      <text x={(innerWidth/4)-160} y={innerHeight - 195} text-anchor='start' font-size="17" opacity="0.7" font-style='italic'>Gas Wage</text>
      <circle cx={(innerWidth/4) - 180} cy={innerHeight - 230} r="6" fill='darkblue' stroke='darkblue' fill-opacity="0.8" stroke-width="1.2"/>
      <circle cx={(innerWidth/4) - 180} cy={innerHeight - 200} r="6" fill='orange' stroke='orange' fill-opacity="0.8" stroke-width="1.2" /> 
      </g>
  
      <text 
      transform="translate({(innerWidth/2)-90},{innerHeight-90})"
      style ='font: italic bold 40px/40px Georgia, serif'>
        Baltimore
    </text>

    <text 
      transform="translate({(innerWidth/2)-60},{innerHeight-55})"
      style ='font: italic small-caps bold 20px/20px Georgia, serif'>
    December 2014
    </text>

    <text 
    transform="translate({(innerWidth/3)-50},{innerHeight-15})"
    style ='font:Brush Script MT small-caps 10px/10px Georgia, serif'>
    Design 3: Gas and Electricity Use as a Tree
     </text>



    </g>
    
  </svg>
{/if}
