<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import Circle from "./_design_2_circle.svelte";
  
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const section = innerWidth/3
  let cities=["Baltimore", "Chicago", "Los Angeles"]

  let data = [];
  onMount(async () => {
    data = await json("./data/daily_heating_cooling.json");
  });

  function FilterDataCity(data, city){
    return data.filter(d => d.city == city);
  }

</script>

<div>
  <svg {width} {height} >
  <g transform="translate({margin.left}, {margin.top})">
    {#each cities as city, index}
    <g transform="translate({section*index+100},{innerHeight-100})">
      <Circle data = {FilterDataCity(data, city)} {city}  />
      <text x=-7 y=-75>12</text>
      <text x=75 y=10>3</text>
      <text x=-7 y=90>6</text>
      <text x=-85 y=10>9</text>
      <text style ='font:Brush Script MT small-caps 10px/10px Georgia, serif' x=-35 y=-100>{city}</text>
     </g>
    {/each}            
  </g>
</svg>

<p class="footer">  Design 2: Heating and cooling within a year</p>
</div>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  
 p.footer {
    font-family: 'Georgia', sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
  }
 </style>




