<script>
  let current = "";
</script>

<style>
button.background {
    background-color: rgb(0, 174, 255)
}
</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")} class:background={current == "messi"}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")} class:background={current == "ronaldo"}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")} class:background={current == "neymar"}>
  Neymar
</button>
