<style>
    p{
        font-family:Courier;
        font-size: 17px;
        color: steelblue;
    }
</style>

<p>
    I
    <span style='font-family: Cambria; font-size: 20px; color: red'> really</span>
    like data visualisation!
</p>



