<script>

const student = { name: 'Renée Claes',
sport1: 'Fitness', sport2: 'self-defence', sport3: 'tennis',
sport4: 'dancing', sport4: 'running', sport5: 'football' };

</script>

<p>My name is {student.name} and these are some of my favourity things: {student.sport1}, {student.sport2}, {student.sport3},
    {student.sport4}
</p>
