<script>
 
function calcCircum(rad) {
return "The circumference of a circle with radius "+ rad + "m is " + Math.round((2 * Math.PI * rad)*100)/100+"m.";
}
const Circle = calcCircum(2);

</script>

<p> {Circle}</p>
