<script>

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";
	
  // Opacity
  let opacity = 0.3;

  // Contains the circle selected
  let currentCircleIndex = index - 1; // We start with the last one
	
  // Start function
  const intervalId = setInterval(circleManipulator, 1000);
	
	//Stop function
	function stopInterval() {clearInterval(intervalId);}
	
	// Index function
  function circleManipulator() {
		//Stop the process if we have reached the last circle
    if (currentCircleIndex == -1) {stopInterval();}
    // To select the previous object in the array
    currentCircleIndex--;}
  
	$: color = currentCircleIndex == -2 ? "darkgreen" : color;
	
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as dp, i}
      <circle 
      cx={dp} 
      cy={innerHeight / 2} 
      r="10" 
      fill={color}
      opacity={i > currentCircleIndex ? 1 : opacity} />
    {/each}
  </g>
</svg>